@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200');

@font-face {

    font-family: largeFont;
    src: url(NunitoSans-Regular.ttf);

    font-family: lightFont;
    src: url(NunitoSans-Light.ttf);

    font-family: italicFont;
    src: url(NunitoSans-BoldItalic.ttf);

}

* {

    position: relative;
    box-sizing: border-box;

}

html {

    background-image: linear-gradient(to right, rgb(255, 180, 119), rgb(197, 197, 197));
    min-height: 100%;

}

body {
    margin: 0;
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin: .2em auto;
    text-align: center;
    border-radius: 20px;
    width: 85%;
}

div img#avionics {

    width: 23%;
    margin: .5em;

}

div img#logo {

    margin: 0 0 1em 3em;
    width: 27%;

}

div a#icon img {

    display: none;

}

header div ul {

    display: none;

}

ul#nav {

    width: 100%;
    padding: 1em;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

ul#nav li a {

    font-size: 2.5em;
    word-spacing: 5em;
    font-family: lightFont;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 1px;

}

ul#nav li a:hover {

    color: black;
    text-decoration: underline;
    text-shadow: rgb(255, 255, 255) 1px 1px;

}

nav>ul#nav>li {

    display: inline;

}

section h1 img {

    width: 1em;

}

section#contact {

    border: 1px black solid;

}

section#contact p img {

    width: 10em;
    border: black 2px solid;

}

p#map {

    text-align: center;
    width: 100%;

}

/* ul, ol {
    list-style: none;
 }
 
 nav ul {
    list-style: none;
    list-style-image: none;
 }
 
 nav a {
    text-decoration: none;
    line-height: 1.2em;
 } */

textarea {
    resize: none;
}

/* User Form Styles */

input#username {
    display: inline-block;
    margin-right: 20px;
}

input#password {
    display: inline-block;
    margin-right: 15px;
}

/* Payment Form Styles */

section#paySection {
    -webkit-flex: 1 1 20em;
    flex: 1 1 20em;
    min-height: 300px;
}

section#paySection form#payment fieldset#cards {
    display: block;
    clear: left;
    border: none;
}

section#paySection p#footnote {
    font-size: 1em;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;

}

section#paySection h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.15em;
    font-weight: normal;
    color: rgb(57, 44, 28);
    background: white
}

form#payment fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding-left: 25%;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}


form#payment fieldset#cards label:first-of-type {
    text-align: center;
    /* margin-left: -450px; */

}

form#payment legend {
    font-size: 1.3em;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(57, 44, 28);
}


/* Input and Label Styles */

form#payment label {
    display: block;
    float: left;
    clear: left;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 100%;
    color: rgb(57, 44, 28);
}


form#payment input,
form#payment select {
    display: block;
    float: left;
}



form#payment label.cardLabel {
    display: inline-block;
    float: none;
    width: auto;
}

form#payment fieldset#cards img {
    display: inline-block;
    margin-left: 5px;
}


form#payment input[type='radio'] {
    display: inline-block;
    float: none;
    clear: none;
}

form#payment fieldset#cards {
    text-align: left;
    padding-left: 0;
}

form#payment span {
    text-align: center;
    display: block;
    float: left;
}

form#payment input#subButton {
    display: block;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    background-color: #F39323;
    font-size: 1.3em;
    border-radius: 6px;
    float: none;
    border-color: #F39323;
    font-family: 'Nunito Sans', sans-serif;
}


section#contact {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    text-align: center;
    color: black;
    padding: 5px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    text-shadow: rgb(255, 180, 119) -1px -1px;
    font-size: 1.5em;
}

p#title {
    font-size: 20px;
}

header footer div p a {
    color: black;
}




body section {

    margin: 0 1in;

}

header {

    font-family: largeFont;

}

div img {

    width: 20%;

}


/* ul#nav a { 
    margin: 5em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 13px 10px;
}

ul#nav a#word {
    word-spacing: 1.5px;
}

nav>ul#nav>li {
    padding: 20px 16px;
    display: inline;

}

ul#imageSlide li {

    display: inline;

}

ul#imageslide {

    width: 100%;
    text-align: center;

}


ul li img {

    height: 19em;
    text-align: center;

} */

body h1 {

    font-size: 3em;
    padding: .5em;
    font-family: largeFont;

}

h1 img {

    width: 3%;

}










.color1 {
    z-index: 50;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}

.color2 {
    z-index: 40;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}

.color3 {
    z-index: 30;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}

.color4 {
    z-index: 20;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}

.color5 {
    z-index: 10;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}


.AB1text1 {
    position: absolute;
    top: 120px;
    left: 72px;
}

.AB1text2 {
    position: absolute;
    top: 120px;
    left: 57px;
}

.AB1text3 {
    position: absolute;
    top: 120px;
    left: 72px;
}

.AB1text4 {
    position: absolute;
    top: 119px;
    left: 60px;
}

.AB1text5 {
    position: absolute;
    top: 119px;
    left: 70px;
}

#arrowBar1 a .AB1rotate:hover {
    background-color: #F39323;
    color: black;
}

#arrowBar2 {
    width: 80%;
}

#arrowBar2 a {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}





#results2 {
    margin-left: 350px;
}

#breadcrumbNav2 {
    margin-top: 25px;
    margin-left: 325px;
}

#arrowBar2 {
    display: inline-block;
    overflow: hidden;
    width: 732px;
    height: 50px;
    border: 1px solid #000000;
}

.color0 {
    z-index: 60;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -120px;
}

.color6 {
    background-color: #F39323;
    margin-left: -100px;
}

.AB2rotate {
    position: relative;
    display: inline-block;
    top: -75px;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.AB2rotateReset {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.AB2text0 {
    position: absolute;
    top: 119px;
    left: 60px;
}

.AB2text1 {
    position: absolute;
    top: 119px;
    left: 70px;
}

.AB2text2 {
    position: absolute;
    top: 119px;
    left: 58px;
}

.AB2text3 {
    position: absolute;
    top: 119px;
    left: 57px;
}

.AB2text4 {
    position: absolute;
    top: 119px;
    left: 60px;
}

.AB2text5 {
    position: absolute;
    top: 119px;
    left: 80px;
}

.AB2text6 {
    position: absolute;
    top: 119px;
    left: 70px;
}

#arrowBar2 a .AB2rotate:hover {
    background-color: white;
    color: black;
}

hr {

    display: inline-block;
    margin: 2.5em;
    margin-left: 25%;
    border-color: black;
    width: 50%;
    height: 3px;

}

footer {

    background-color: rgb(80, 80, 80);
    clear: both;
    height: 100%;
    border: 1px solid black;

}

footer p {

    font-size: 1.2em;
    font-family: italicFont;
    text-align: center;
    margin: 1.5em;

}

@media only screen and (max-width: 600px) {

    body section {

        margin: 0in;

    }

    div img#avionics {

        float: left;
        width: 33%;
        margin-left: 5em;

    }

    /* The abionics logo will be floated let and have a widht of thirty three percent with a left margin of five em. */

    div img#logo {

        display: none;

    }

    /* The West-Mec logo will be removed from the display period. */

    div a#icon img {

        display: block;
        margin: .5em 0em .5em .5em;
        float: left;
        border-radius: 10px;
        border: black 1px solid;
        width: 12%;

    }

    /* The header icon finally will take effect by being given a display of block and...
    having all margins be point five em long,
    be floated to the left,
    have a border radius of ten pixels for rounded corners,
    have said border be solid black and one pixel long,
    and have an overall width of twelve percent.
     */

    div a#icon:hover+ul,
    header div ul:hover {

        display: block;

    }

    /* Now, if the header icon or the div list within it are to be hovered over, their display will be set to block. */

    div ul {

        list-style: none;
        display: block;
        justify-content: space-around;

    }

    /* The div list now being taken into effect is removed of its list styles, also set to block and is centered with the content around it. */

    div ul li a {

        font-size: 1.5em;
        padding: .8em .5em;
        font-family: lightFont;
        word-spacing: 1em;
        color: gray;
        text-decoration: none;
        font-weight: bold;
        text-shadow: rgb(0, 0, 0) 1px 1px;
        list-style: none;
        float: left;

    }

    /* The links themselves also are greatly effected, but in a very similar way to how the normal navigation tab is for desktop users. */

    ul#nav li a:hover {

        color: black;
        text-decoration: underline;
        text-shadow: rgb(255, 255, 255) 1px 1px;

    }

    /* This also includes the same styles for when it's hovered over. */

    ul#nav {

        display: none;

    }

    form#payment fieldset {

        padding-left: 1em;

    }


}