@import url('https://fonts.googleapis.com/css?family=Work+Sans:100');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200');
@font-face {

    font-family: largeFont;
    src: url(NunitoSans-Regular.ttf);

}
body {
    margin: 0;
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 0 auto;
    border-radius: 20px;
}

p#map {
    text-align: center;
    margin-top: -30px;
}

/* ul, ol {
    list-style: none;
 }
 
 nav ul {
    list-style: none;
    list-style-image: none;
 }
 
 nav a {
    text-decoration: none;
    line-height: 1.2em;
 } */
 
 textarea {
     resize: none;
 }

 /* User Form Styles */

input#username {
    display: inline-block;
    margin-right: 20px;
 }
 
 input#password {
    display: inline-block;
    margin-right: 15px;
 }

 /* Payment Form Styles */
 
 section#paySection {
    -webkit-flex: 1 1 400px;
    flex: 1 1 400px;
    min-height: 300px;
 }
 
 section#paySection form#payment fieldset#cards {
    display: block;
    clear: left;
    border: none;
 }
 
 section#paySection p#footnote {
    font-size: 1em;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
 
 }
 
 section#paySection h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.15em;
    margin: 20px 0px;
    font-weight: normal;
    color: rgb(57, 44, 28);
 }
 
 form#payment fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding-left: 20em;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
 }
 
 
 form#payment fieldset#cards label:first-of-type {
    text-align: center;
    /* margin-left: -450px; */
    
 }
 
 form#payment legend {
    font-size: 1.3em;
    padding: 8px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;
    color: rgb(57, 44, 28);
 }
 
 
 /* Input and Label Styles */
 
 form#payment label {
    display: block;
    float: left;
    clear: left;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 180px;
    color: rgb(57, 44, 28);
 }
 
 
 form#payment input, form#payment select {
    display: block;
    float: left;
 }
 


 form#payment label.cardLabel {
    display: inline-block;
    float: none;
    width: auto;
 }
 
 form#payment fieldset#cards img {
    display: inline-block;
    margin-left: 5px;
 }
 
 
 form#payment input[type='radio'] {
    display: inline-block;
    width: auto;
    float: none;
    clear: none;
 }
 
 form#payment fieldset#cards {
    text-align: left;
    padding-left: 0;
 }
 
 form#payment span {
    width: 30px;
    text-align: center;
    display: block;
    float: left;
 }

 form#payment input#subButton {
    display: block;
    width: 180px;
    height: 35px;
    text-align: center;
    margin-left: 530px;
    background-color: #F39323;
    font-size: 1.3em;
    border-radius: 6px;
    float: none;
    border-color: #F39323;
    font-family: 'Nunito Sans', sans-serif;
 }


footer {
    font-family: 'Nunito Sans', sans-serif;    
    background-color: #F39323;
    text-align: center;
    color: white;
    width: 100%;
    padding: 5px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }

 p#title {
     font-size: 20px;
 }

  header header footer div p a{
     color: white;
  }
  



body section {

    margin: 1in;

}

header {

    font-family: largeFont;

}

div img {

    width: 20%; 

}


/* ul#nav a { 
    margin: 5em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 13px 10px;
}

ul#nav a#word {
    word-spacing: 1.5px;
}

nav>ul#nav>li {
    padding: 20px 16px;
    display: inline;

}

ul#imageSlide li {

    display: inline;

}

ul#imageslide {

    width: 100%;
    text-align: center;

}


ul li img {

    height: 19em;
    text-align: center;

} */

body h1 {

    font-size: 3em;
    padding: .5em;
    font-family: largeFont;

}

h1 img {

    width: 3%;

}

















/* .color0 is in Example 2 CSS further below */
.color1{
    z-index: 50;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}
.color2{
    z-index: 40;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}
.color3{
    z-index: 30;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}
.color4{
    z-index: 20;
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}
.color5{
    z-index: 10;               /* Technically most bottom breadcrumb "Demo!" does not require z-index but this is used in Example 2 which is not most bottom. */
    background-color: #F39323;
    border: 1px solid black;
    margin-left: -100px;
}


.AB1text1{                  /* Happy */
    position: absolute;
    top: 120px;
    left: 72px;
}
.AB1text2{                  /* Breadcrumb */
    position: absolute;
    top: 120px;
    left: 57px;
}
.AB1text3{                  /* Arrow */
    position: absolute;
    top: 120px;
    left: 72px;
}
.AB1text4{                  /* NavBAR's */
    position: absolute;
    top: 119px;
    left: 60px;
}
.AB1text5{                  /* Demo! */
    position: absolute;
    top: 119px;
    left: 70px;
}


/* The arrow color will change during hover over. */
#arrowBar1 a .AB1rotate:hover{
    background-color: #F39323;
    color: black;
}

#arrowBar2 {
    width: 80%;
}

#arrowBar2 a {
color: black;
font-family: 'Nunito Sans', sans-serif;
}

/* Example 2 will use some of the above rules and these key CSS rules below */




#results2{
   margin-left: 350px;
}
#breadcrumbNav2{      /* Position breadcrumbNav1 on webpage relative to other objects */
    margin-top: 25px;
    margin-left: 325px;
}
#arrowBar2{
   display: inline-block;
   overflow: hidden;
   /* Rotate angle affects everything. This width is for .AB2rotate that has 45deg. */
   /* Calculating width is not complicated, but there is one tedious step. */
   /* First use very large value like 1000px to make sure #arrowBar1 shows every breadcrumb. */
   /* Value1: Adjust .color0 margin-left to negative value below. This indirectly affects width(border is included) for "Wonderful" breadcrumb. Example: -120px.*/
   /* Tedious step: Take screen shot and with image editor measure two distances on a "full crumb arrow" that you see. */
   /* Value2 from Measurement 1: Center Crumb Tail to Tip: Start from Crumb "butt" (inside arrow border) to Crumb "tip" (with border). Example: 106px */
   /* Value3 from Measurement 2: Last Crumb No Tip: Start from Crumb "butt" (inside arrow border) to Crumb "shoulder" (NO borders, stay inside). Example: 82px */
   /* Now treat all Values as positive numbers and add them to get the width required for this #arrowBar2 */
   /* Example: 120 + (106 x 5 ) + 82 = 732 */
   /* To be sure, the number 5 above is for 5 full Crumb arrows in #arrowBar1 */
   /* Although this is a tedious process, it creates a pixel perfect width container! */
   width: 732px;
   height: 50px;
   border: 1px solid #000000;   /* Unlike above Exampe l, #arrowBar2 will have border fully applied */
   /* For development work, use background-color to insure #arrowBar2 does NOT show RED. If it shows Red, the area will not receive .click() or hover event. */
   /* background-color: #ff0000; */
}
.color0{
    z-index: 60;
    background-color: #F39323;
    border: 1px solid black;
    /* This negative margin-left value will indirectly affect the width for "Welcome" breadcrumb. */
    /* This value when changed will require that #arrowBar2 width is adjusted too. */
    /* When this value is 0px, then "Wonderful" breadcrumb is really long at 244px width. */
    /* Demo default value of -120px shows nice balance with AB2rotate width of 200px. Simply try different values for longer/shorter word requirements. */
    margin-left: -120px;
}
.color6{                        /* The border attribute is not required here. Also no z-index required here for most "bottom level" crumb. */
    background-color: #F39323;    
    /* .color6 is similar to .color0arrowTail in that a custom width is done for the 1st and last breadcrumbs. NOTE: #arrowBar2 minimum width via calculation is required. */
    /* Example: Change -100px to -70px below. Since the different is -30px, add that to #arrowBar2 width as positive value. Result: 762px and last breadcrumb is LONGER. */   
    margin-left: -100px;
}

/* This rotate is for Example 2 */
.AB2rotate {
    position: relative;
    display: inline-block;
    top: -75px;
    width: 200px;
    height: 200px;

  /* Cross browser CSS3 Rotate Rules from: CSS3 Please! */
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(45deg);  /* FF3.5+ */
      -ms-transform: rotate(45deg);  /* IE9 */
       -o-transform: rotate(45deg);  /* Opera 10.5 */
          transform: rotate(45deg);
}

/* This rotate reset for inner content is for Example 2 */
.AB2rotateReset {
    display: inline-block;

  /* Cross browser CSS3 Rotate Rules from: CSS3 Please! */
  -webkit-transform: rotate(-45deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(-45deg);  /* FF3.5+ */
      -ms-transform: rotate(-45deg);  /* IE9 */
       -o-transform: rotate(-45deg);  /* Opera 10.5 */
          transform: rotate(-45deg);
}

.AB2text0{                  /* Wonderful */
    position: absolute;
    top: 119px;
    left: 60px;
}
.AB2text1{                  /* CSS3 */
    position: absolute;
    top: 119px;
    left: 70px;
}
.AB2text2{                  /* Accessibility */
    position: absolute;
    top: 119px;
    left: 58px;
}
.AB2text3{                  /* Breadcrumb */
    position: absolute;
    top: 119px;
    left: 57px;
}
.AB2text4{                  /* NavBAR's */
    position: absolute;
    top: 119px;
    left: 60px;
}
.AB2text5{                  /* For */
    position: absolute;
    top: 119px;
    left: 80px;
}
.AB2text6{                  /* You! */
    position: absolute;
    top: 119px;
    left: 70px;
}
#arrowBar2 a .AB2rotate:hover{   /* The breadcrumbs are hightlighted Yellow during mouseover. */
    background-color: white;
    color: black;
}