@charset "utf-8";

@font-face {

    font-family: largeFont;
    src: url(NunitoSans-Regular.ttf);

}

body section {

    margin: 1in;

}

header {

    font-family: largeFont;

}

div img {

    width: 20%; 

}

ul#nav {

    width: 100%;
    font-size: 2em;
    padding: 2em;
    word-spacing: 5em;

}

ul#nav a {

    text-align: right;
    text-decoration: none;

}

nav>ul#nav>li {

    display: inline;

}

ul#imageSlide li {

    display: inline;

}

ul#imageslide {

    width: 100%;
    text-align: center;

}


ul li img {

    height: 19em;
    text-align: center;

}

body h1 {

    font-size: 3em;
    padding: .5em;
    font-family: largeFont;

}

h1 img {

    width: 3%;

}