@charset "utf-8";

@font-face {

    font-family: largeFont;
    src: url(NunitoSans-Regular.ttf);

    font-family: lightFont;
    src: url(NunitoSans-Light.ttf);

    font-family: italicFont;
    src: url(NunitoSans-BoldItalic.ttf);

}

/* Already into this stylesheet, we have the charset decleration, similar to this page's HTML conterpart, while in addition, having a fontface to add in custom fonts as options for the "font family" style. These three fonts in particular where taken off the West-Mec brand site for consistency in how the appeareance in this page matches up with other West-Mec related sites.  */

* {

    position: relative;
    box-sizing: border-box;

}

html {

    background-image: linear-gradient(to right, rgb(255, 180, 119), rgb(197, 197, 197));
    min-height: 100%;

}

body {

    margin: 0;

}

header {

    font-family: largeFont;

}

div img#avionics {

    width: 23%;
    margin: .5em;

}

div img#logo {

    margin: 0 0 1em 3em;
    width: 27%;

}

div a#icon img {

    display: none;

}

header div ul {

    display: none;
    padding: 0;
    margin: 0;

}

ul#nav {

    width: 100%;
    padding: 1em;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

ul#nav li a {

    font-size: 2.5em;
    word-spacing: 5em;
    font-family: lightFont;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 1px;

}

ul#nav li a:hover {

    color: black;
    text-decoration: underline;
    text-shadow: rgb(255, 255, 255) 1px 1px;

}


nav>ul#nav>li {

    display: inline;

}

section {

    border: black 2 solid;

}

ul#imageSlide {

    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    color: linear-gradient(to right, red, yellow);
    filter: grayscale();
    z-index: 2;

}

section ul#imageSlide img {

    padding: 0;
    float: left;
    content: "";
    border: 3px orange solid;
    height: auto;
    max-width: 33.33%;

}

section ul#imageSlide div#left {

    z-index: 3;
    margin: 0 auto;
    position: absolute;
    color: white;
    font-family: lightFont;
    top: 0%;
    right: 68%;
    font-size: 2em;
    text-shadow: -1px -1px black;

}

section ul#imageSlide div#middle {

    z-index: 3;
    margin: 0 auto;
    position: absolute;
    color: white;
    font-family: lightFont;
    top: 2%;
    right: 34%;
    font-size: 1.6em;
    text-shadow: -1px -1px black;

}

section ul#imageSlide div#right {

    z-index: 3;
    margin: 0 auto;
    position: absolute;
    color: white;
    font-family: lightFont;
    top: 0%;
    right: 1%;
    font-size: 2em;
    text-shadow: -1px -1px black;

}

body h1 {

    font-size: 3em;
    padding: 1em 2em;
    font-family: largeFont;

}

section h1 img {

    width: 3%;
    clear: both;

}

hr {

    display: inline-block;
    margin: .5em;
    margin-left: 25%;
    border-color: black;
    width: 50%;
    height: 3px;

}

article h1 {

    float: left;
    font-family: largeFont;
    font-size: 3em;
    text-shadow: -1px -1px white;
    text-decoration: underline;
    margin-right: 25%;
    clear: right;

}

h1 img {

    width: 1em;

}

article figure img {

    z-index: 101;
    float: right;
    border: black 2px solid;
    width: 30%;
    margin-left: 2em;
    margin-top: 6em;
    border-radius: .5em;

}

figure figcaption {

    clear: both;
    float: right;
    font-size: 1em;
    kerning: 1.2em;
    font-family: lightFont;
    padding: .5em;
    background: white;
    border: 2px solid black;
    content: "";
    display: table;
    border-radius: .25em;
    margin-left: 2em;
    width: 30%;

}

article p#inception {

    z-index: 100;
    background: white;
    border: 2px solid black;
    display: table;
    margin: 0 1em 0 1em;
    border-radius: .25em;

}

p#inception {

    font-size: 1.8em;
    kerning: 1.2em;
    font-family: lightFont;
    text-shadow: rgb(255, 180, 119) -1px -1px;
    padding: .5em;

}

footer {

    background-color: rgb(80, 80, 80);
    clear: both;
    height: 100%;
    border: 1px solid black;

}

footer p {

    font-size: 1.2em;
    font-family: italicFont;
    text-align: center;
    margin: 1.5em;

}

@media only screen and (max-width: 600px) {


    div img#avionics {

        float: left;
        width: 33%;
        margin-left: 5em;

    }

    div img#logo {

        display: none;

    }

    div a#icon img {

        display: block;
        margin: .5em .5em .5em .5em;
        float: left;
        border-radius: 10px;
        border: black 1px solid;
        width: 12%;

    }

    div a#icon:hover+ul,
    header div ul:hover {

        display: block;

    }

    div ul {

        list-style: none;
        display: block;
        justify-content: space-around;

    }

    div ul li a {

        font-size: 1.5em;
        padding: .8em .4em;
        font-family: lightFont;
        word-spacing: 1em;
        color: gray;
        text-decoration: none;
        font-weight: bold;
        text-shadow: rgb(0, 0, 0) 1px 1px;
        list-style: none;
        float: left;

    }

    ul#nav li a:hover {

        color: black;
        text-decoration: underline;
        text-shadow: rgb(255, 255, 255) 1px 1px;

    }

    ul#nav {

        display: none;
        padding: 0;
        margin: 0;

    }

    section ul#imageSlide img:not(#main) {

        display: none;

    }

    section ul#imageSlide img#main {

        display: block;
        min-width: 100%;

    }

    section ul#imageSlide div#left {

        position: absolute;
        top: 30%;
        right: 77%;
        font-size: 2em;

    }

    section ul#imageSlide div#middle {

        position: absolute;
        top: 50%;
        right: 1%;
        font-size: 2em;

    }

    section ul#imageSlide div#right {

        display: none;

    }

    article h1 {

        margin-right: 0em;

    }

    article figure img {

        display: none;

    }

    figure figcaption {

        display: none;

    }

    article p#inception {

        font-size: 1.5em;

    }

    footer {

        font-size: .75em;

    }

}